.notes{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 1rem;

    .note{
        background: #b72d2d;
        padding: 1rem;
        border-radius: 0.5rem;
        width: 200px;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;

        h2 {
            font-size: 1.2rem;
            color: #333;
        }
        .buttons{
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 5px;
        background-color: #b72d2d;
        transition: all 0.3s ease;
        border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    opacity: 0;

        button {
            padding: 0.25rem;
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 0.25rem;
            cursor: pointer;
            width: 50%;

            &:hover {
                background-color: #0056b3;
                
            }
    }
    }
}}

.note:hover .buttons{
    bottom: -34px;
    opacity: 1;
}

.note:hover{
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

form{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;

    input, textarea {
        padding: 0.5rem;
        border: 1px solid #ccc;
        border-radius: 0.25rem;
        font-size: 1rem;
    }

    button {
        padding: 0.5rem;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 0.25rem;
        cursor: pointer;

        &:hover {
            background-color: #0056b3;
        }
    }

    
}